<div class="container">
    <div class="header">
        <div class="header__logo">
            <a href="/">
                <img src="assets/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="header__menu">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a href="/">Genre</a>
                </li>
                <li>
                    <a href="/">Country</a>
                </li>
                <li>
                    <a href="/">Movies</a>
                </li>
                <li>
                    <a href="/">TV Shows</a>
                </li>
                <li>
                    <a href="/">Top IMDB</a>
                </li>
                
            </ul>
        </div>
        <div class="header__login">
            <mat-icon>account_circle</mat-icon>
            <a href="/">Login</a>
        </div>
    </div>           
</div>